#content {
    width: 500px;
    margin: 20px auto;
    text-align: center;
    padding: 50px 90px;
    border: 1px solid gray;
}

h1, h2 {
    font-family: Georgia;
    font-weight: 400;
}

h1 {
    padding-top: 30px;
    letter-spacing: .1em;
}

h2 {
    color: rgb(93, 157, 216);
    font-size: .75em;
    margin-bottom: 5px;
    letter-spacing: .25em;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
    margin-top: 0;
    margin-bottom: 40px;
}

p, ol{
    text-align: left;
    line-height: 1.5em;
    margin: 16px 6px;
}

li {
    padding: 6px 0;
}

img {
    width: 20%;
    padding: 25px;
}

.dark {
    background-color: rgb(58, 58, 58);
    color: white;
}

.dark-h2 {
    color: rgb(119, 184, 245);
}